/#Lista do Bolinha.py
/.vscode
/Arquivos Material 10-20210414.zip
/aUL.R
/Aula0504.R
/Aula1003.R
/Aula1503.R
/Aula1703.R
/Aula1904.R
/Aula2104.R
/bola.py
/Bolapy.py
/Churn.csv
/CountdownClock.py
/countries.csv
/DadosRJ.csv
/data+visualization+with+python.ipynb
/datascience.py
/figura.jpg
/figura.png
/Finance.py
/github-slideshow
/github-slideshow-1
/hello.ipynb
/INF1513_2111516.R
/Learning.R
/Lista02.R
/LISTA3.R
/monitoria 8.04.R
/nasa-giss.txt
/notebook.ipynb
/PIB.csv
/placafilial1.csv
/placafilial2.csv
/placafilial3.csv
/placafilial4.csv
/Portfolio Optimization.py
/PROG2
/programa.c
/pytest.py
/Python_para_analise_de_dados_aula01.py
/Python_para_analise_de_dados_aula02.py
/R i386 4.0.5.lnk
/R x64 4.0.5.lnk
/Rgrafico.R
/rj_municipios
/RJ_UF_2020
/RJ_UF_2020.zip
/sample_data.csv
/SYB62_246_201907_Population Growth, Fertility and Mortality Indicators.csv
/tsla.csv
/Untitled-1.py
/venv
/__pycache__